body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Manrope', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.nav-links {
    display: flex;
    gap: 8px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #6c63ff;
    cursor: pointer;
}

.nav-links a.active {
    color: #6c63ff;
    font-weight: 600;
}

.nav-links span {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    transition: color 0.2s ease;
}

.main {
    width: 100%;
    height: 100%;
    min-height: calc(70vh - 187px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    box-sizing: border-box;
}

.main h2{
    font-size: 1.563rem;
    font-weight: 600;
    font-family: 'Manrope' ,sans-serif;
    color: #343c4a;
    line-height: 1.5;
    margin: 8px;
    text-align: center;
}

.content {
    max-width: 675px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-message {
    animation: main-message-load ease-in;
    animation-duration: 300ms;
    animation-delay: none;
}

@keyframes main-message-load {
    0% {
        transform: translateY(+15px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.links a {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    font-family: Pacifico ,cursive;
    text-decoration: none;
    color: #343c4a;
    font-size: 1.563rem;
}

.links {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.links a:hover {
    text-decoration: underline;
}

@keyframes links-load {
    0% {
        transform: translateY(+2px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#link-1 {
    opacity: 0;
    animation: links-load ease-in;
    animation-duration: 200ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
}

#link-2 {
    opacity: 0;
    animation: links-load ease-in;
    animation-delay: 500ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}