h1 {
    color: rgb(0, 0, 0);
    margin-top: 20%;
    background-color: rgba(247, 247, 247, 0.479);
    padding: 50px;
}

body {
    margin: 0;
    background-image: url(inage.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

